body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 2em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #FAA0A0;
}

.navbar__contents {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__logo h4 {
    font-family: 'Lobster', cursive;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
    color: #2B0014;
    transition: all 0.2s linear;
}

.navbar__logo h4:hover {
    color: #FFF5EE;
}

.navbar__links__wrapper {
    margin: 0;
}

.navbar__links {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar__links li {
    list-style: none;
}

.navbar__links li a {
    text-decoration: none;
    font-family: 'Lobster', cursive;
    color: #2B0014;
    font-size: 22px;
    background: none;
    border: none;
    margin: 0;
    padding: 0 1em;
    cursor: pointer;
    transition: all 0.2s linear;
}

.navbar__links li a:hover {
    color: #FFF5EE;
    transition: all 0.2s linear;
}

.navbar__links__drop {
    overflow: hidden;
}

.dropBtn {
    padding: 0;
    background: none;
    border: none;
    font-size: 22px;
    font-family: 'Lobster', cursive;
    padding: 0 0 0 1em;
    min-height: 6vh;
    cursor: pointer;
    color: #2B0014;
    transition: all 0.2s linear;
}

.dropBtn:hover {
    color: #FFF5EE;
}

.dropdown__menu {
    display: block;
    height: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 160px;
    background-color: #FAA0A0;
    transition: all 0.2s linear;
}

.dropdown__menu * {
    padding-bottom: 0.7em;
    display: block;
}

.navbar__links__drop:hover .dropdown__menu {
    height: auto;
    visibility: visible;
    opacity: 1;
}

.navbar__links__drop:hover .dropdown__menu * {
    padding-bottom: 0.7em;
}

.page__content {
    width: 65%;
    margin: auto;
}

header {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    background: url(./header_2.jpg);
    background-size: cover;
    overflow: hidden;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #2B0014;
}

.featured__items__container {
    text-align: center;
    width: 100%;
}

.featured__items__title {
    border-bottom: 1px solid #2B0014;
}

.featured__items__title h4 {
    color: #2B0014;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 24px;
}

.featured__items__wrapper {
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 2.5em;
    box-shadow: 2px 4px 10px black;
    /* border: 1px solid #2B0014; */
    transition: all 0.2s linear;
}

.featured__items__wrapper:hover {
    transform: scale(1.01);
}

.featured__items__background {
    width: 70%;
    background: url(./header_1.jpg);
    background-size: cover;
}

.featured__items__content {
    width: 30%;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured__items__name {
    text-align: left;
    border-bottom: 1px solid #2B0014;
    padding-bottom: 0.5em;
}

.featured__items__name h4 {
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 30px;
    letter-spacing: 1px;
}

.featured__items__name p {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-style: italic;
    margin: 0.5em 0;
}

.featured__items__description {
    width: 100%;
}

.featured__items__description p {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    text-align: left;
}

@media screen and (max-width: 1600px) {
    .navbar__contents {
        width: 100%;
    }
}